.company-container {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 1.25rem;
    margin: 2rem 0;
    border-radius: 10px;
}
.company-logo-container {
    background-color: #fff;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.company-logo-container > img {
    width: 5rem;
}
.company-logo-container:hover {
    animation: flip 0.3s linear both;
}
.company-text {
    margin-left: 1rem;
    width: 60%;
}
.company-name {
    font-size: 1.8rem;
    font-weight: bold;
}
.company-website {
    color: rgb(218, 218, 218);
    margin: 0.5rem 0;
}
@keyframes flip {
    0% {
        transform: rotateZ() scale(1);
    }
    100% {
        transform: rotateZ(362deg) scale(1.1);
    }
}
/*  Company Jobs */
.company-jobs-container {
    background-color: var(--secondary-color);
    padding: 1.25rem;
    border-radius: 10px;
    margin: 2rem 0;
}
.title {
    margin: 0;
    margin-bottom: 1.25rem;
}
a.job-row {
    text-decoration: none;
    color: var(--font-color);
}
.job-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #fff;
    padding: 1.25rem;
}
.job-row:hover,
.job-row:focus {
    border-radius: 10px;
    background-color: #585858;
}
